<div class="article-loop">
    {% for show in shows %}

        {% if show.get_field('dispo') == '1' %}

    <a href="{{ oneevent.link }}">
            <div class="row show-medal show_1 show4">
                <h2 class="h1-medal h1-medal2 col-12">
                    {{ show.title }}
                </h2>
                <div class="thumb-medal thumb-medal2 col-md-12">
                    <img src="{{show.thumbnail.src}}" alt="affiche" class="affiche oneevent-img oneevent-img2">
                    {{ show.preview.length(30).read_more("<span>lire la suite</span>")
                    }}
                </div>
            </div>

    </a>
        {% endif %}
    {% endfor %}
</div>