<div class="row show-medal">
    {% for show in shows %}

        {% if show.get_field('dispo') == '1' %}

    <a class="col-12 col-md-4" href="{{ oneevent.link }}">
            <div class="show-medal show_1 show4">
                <h2 class="h1-medal h1-medal2">
                    <i class="fas fa-theater-masks"></i> {{ show.title }}
                </h2>
                <div class="thumb-medal thumb-medal2">
                    <img src="{{show.thumbnail.src}}" alt="affiche" class="affiche oneevent-img oneevent-img2">
                    {{ show.content|truncate(20)|raw }}
                </div>
            </div>

    </a>
        {% endif %}
    {% endfor %}
</div>