{% extends 'base.twig' %}

{% block content %}
    <a id="article-anch" class="anch"></a>

    <div class="content-wrapper article_content" xmlns="http://www.w3.org/1999/html">
        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
            <a id="article-anch anch"></a>
            <h1 class="loop-title">A l'affiche !</h1>
            {% include '/views/partials/loops/show-loop.twig' %}
            <h1 class="loop-title">Ancien Spectacles</h1>
            {% include '/views/partials/loops/old-show-loop.twig' %}
            <h1 class="loop-title">Ils sont passés par là !</h1>
            {% include '/views/partials/loops/ref-loop.twig' %}
        </article>
    </div>

{% endblock %}
