{% extends 'base.twig' %}
{% block content %}
    <section class="container contact-section">
        <div class="contact-section2"> 

           <a id="article-anch" class="anch"></a>
                <div class="id row">
                    <div class="contact-title col-12 t-a-center">
                        <h1>{{ post.title }}</h1>
                    </div>
                    <div class="offset-md-2 d-none d-lg-block"></div>
                    <div class="col-12 col-lg-8 coordonnees">
                        <img src="{{ post.thumbnail.src }}" class="logo2" alt="contact">
                        {{ post.content }}
                    </div>
                    <div class="offset-2 d-none d-md-block"></div>




                </div>
        </div>
    </section>
{% endblock %}