a:hover
{
  color: $link !important;
  text-decoration: none;
}

.button:hover,
.totop:hover,
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover
{
  opacity: 1;
  color: $aqua !important;
}
.totop:hover
{
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid $white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  opacity:1;
 }
.totop i:hover
{
  color: $link;
}
.old-show:hover
{
  opacity:1;
}
.event-home-bloc:hover
{
  //background: $link;
  //color: #000000 !important;
  font-size: 16px;
  font-weight: 900;
  border: 3px solid $white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

}
.event-home-bloc2:hover
{
  border: none;
}


.event-home-bloc:hover  .country{
  opacity: 1;
}

.event-home-bloc:hover .salle
{
  color: #000000 !important;
}
.event-home-bloc iframe:hover {
  opacity: 1 !important;
  padding: 0 !important;
  z-index: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.event-home-bloc2 iframe:hover {
  opacity: 1 !important;
  padding: 0 !important;
  z-index: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.event-home-bloc-medal:hover
{
  font-size: 12px;
  font-weight: 900;
}
.url:hover a
{
  color: $aqua !important;
}
.dropdown-item:hover
{
  border-bottom: 15px solid $white;
  color: $white !important;
  background: transparent !important;

}
.carousel-control-prev:hover,
.carousel-control-next:hover{
  color: $aqua !important;
}
.bk-black:hover{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius:50px;
  padding: 20px;
  font-size: 12px;
}
.read-more span:hover{
  color: $white;
}
.btn-outline-success:hover{
  background-color: #ffffff;
}
.navbar-form:hover {
  opacity:1;
}

.link:hover{
  //border-top: 4px solid $carmin;
  color: $carmin;
  font-size: 24px;

}
.link2:hover{

}
.link\#66ccff:hover{
  //border-top: 4px solid #66ccff;
  color:#66ccff;

}
.link\#ff6633:hover{
  color: #ff6633;
  //border-top: 4px solid #ff6633;
}
.link\#ffcc33:hover{
  color: #ffcc33;
  //border-top: 4px solid #ffcc33;
}
.mt0{
  margin-top: 0;
}
.p0{
  padding: 0;
}
.link4:hover{
  color: #f9e2e2 !important;
}
.link2:hover{
  font-size: 50px;
}
//.home-post:hover,
//.thumb p:hover{
//  font-size: 125%;
//}
.cie-text:hover,
.cie-text p:hover{
  font-size: 125% !important;
}
.event-home-bloc2:hover{
  background-color: rgba(0, 0, 0, 0.7);
}
.event-home-ref-block:hover{
  border: 3px solid #ff6633;
  background-color: $dark-blue-transparent;
}
.event-home-date-block:hover{
  border: 3px solid #ffcc33;
  background-color: $dark-blue-transparent;
}
.event-list2:hover{
  background-color: $dark-blue-less-transparent;
}
.dropdown-toggle::after{
  display:none;
}


