<footer class="footer d-none d-md-block container-fluid">
    <div class="footer_bloc row">
        <div class="offset-1 offset-md-2"></div>
        <div class="f-link col-md-3">
        <a href="{{site.url}}/mentions-legales">mentions légales</a>
        </div>
        <div class="logo col-md-2">
            <a href="{{site.url}}">
                <img class="logo-fabulle2" src="{{ theme.link }}/assets/img/fabulle_spectacles_enfants.png" alt="logo">
            </a>
        </div>
        <div class="f-link col-md-2">
            <a href="{{site.url}}/politique-de-confidentialite">confidentialité
            </a>
        </div>
    </div>
</footer>
